Assignment 1: Conditionals and logic

1) Check if a number is even or odd

In [16]:
a=4
if a%2==0:
    print("even")
else:
    print("odd")

even

2) Check if a number is positive or negative or zero

In [25]:
b = 0
if b > 0:
    print("positive")
elif b < 0:
    print("negative")
elif b == 0:
    print("zero")

zero

3) Check if a number is divisible by 3

In [57]:
a=260
if a%3==0:
    print("divisble")
else:
    print("not divisible")

not divisible

3) Check whether a number is divisible by 3 or 5

In [69]:
a=15
if a%3==0 and a%5==0:
    print("both")
else:
    print("not divisble")

both

4) Check whether a number is divisible by 3 and 5

In [72]:
a=15
if a%3==0 or a%5==0:
    print("divible by 3 or 5")
else:
    print("not divisble")

divible by 3 or 5

5) Check whether a number is divisible by 3 or 5 but not divisible by 4

In [157]:
a=20
if a%3==0:
    print("divible by 3")
    if a%5==0:
       print("by both 3 and 5")
       if a%4==0:
            print("not valid")
    
else:
    if a%5==0:
       print("divisble by 5")
       print("not divisble by 3")
       if a%4==0:
          print("not valid ")
    else:
     print("not divisble by both")

divisble by 5
not divisble by 3
not valid

6) Find the max and min of two numbers

In [141]:
a=89
b=8
if a>b:
    print("A is max")
elif a==b:
    print("a=b")
else:
    print("B is max")

A is max

7) Find the max and min of three numbers

In [3]:
a = 7
b = 11
c = 8

if a > b and a > c and b > c:
    print("A is max")
    print("C is min")

    if b > a and b > c and a > c:
        print("B is max")
        print("C is min")

        if c > a and c > b and a > b:
            print("C is max")
            print("B is min")

        else:
            print("A is max")
            print("B is min")

    else:
        print("B is max")
        print("A is min")

else:
    print("B is max")
    print("A is min")

B is max
A is min

8) Print the number of days in a month

In [273]:
m=5
if m == 1 or m == 3 or m == 5 or 7 or 8 or 10 or 12:
   print("31")
elif m==2:
    print("28")
elif m== 2 or 4 or 6 or 9 or 11 :
    print("30")

31

9) Is a year a leap year?

In [263]:
a=2024
if a%4==0 :
    if a%100==0:
        if a%400 == 0:
            print("leap year")
        else:
            print("not a leap year")
    else:
        print("leap year")
else:
    print("not a leap year")

leap year

In [159]:
a=2024
if a%4==0 :
    if a%100==0:
        if a%400 == 0:
            print("leap year")
            print("366 days")
        else:
            print("not a leap year")
            print("365 days")
    else:
        print("leap year")
        print("366 days")
else:
    print("not a leap year")
    print("365 days")

leap year
366 days

10) Is a number within a given range?

In [230]:
a=10
print("range is between 1-10")
if a>10 or a<1:
    print("out of range")
    if a==10 or a==1:
      print("in range")
else:
    print("in range")

range is between 1-10
in range

11) Convert seconds to HH:MM:SS

In [229]:
s=3663
h = s // 3600
#h = int(h)
rem = s % 3600
m = rem // 60
ss = rem % 60

print(h ,"hours:", m,"min:",ss)

1 hours: 1 min: 3

12) Convert HH:MM:SS to seconds

In [212]:
h=0
m=38
ss=56
if h>1:
    print(h*3600)
    print(m*60)
    print(h*3600+m*60+ss)
else:
     print(m*60)
     print(h*3600+m*60+ss)

2280
2336